.parent {
    display: flex;
    justify-content: center; /* horizontally center */
    
  }
  
.child {
    max-width: 800px; /* adjust maximum width of the carousel */
    /* Additional styles for the carousel if needed */
  }

.carousel-item {
  max-height: 400px;
}


  .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  user-select: none;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 1) 100%); /* Adjust opacity as needed */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Add a smooth transition */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border: none;
}

.overlay-text {
  color: white;
  font-size: 24px;
  padding: 10px;
}

.swiper-image-container:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}
.swiper-image-container {
  transform: scale(1);
  transition: transform 330ms ease;
}
.swiper-image-container:hover {
  transform: scale(0.98);
  transition: transform 330ms ease;
  cursor: pointer;
}