html, body {
    margin: 10px 10px 10px 10px;
    height: 100%;
    overflow-x: initial !important;
    max-width: 100%;
}

input[type=number] {
    margin: 8px 0;
    box-sizing: border-box;
  }

#moving_average_analysis_box {
    padding: 5px 5px 5px 5px;
    display: inline-block;
    border-style: solid;
    border-color: black;
}